@{
    ViewBag.Title = "Sample Dealer Website";
}

@section HeaderScripts {
<script type="text/javascript">
window.autochart=window.autochart||[],window.autochart.methods=["init","page","trackVehicleView","trackSearch","trackVisitIntent","tag","trackLead"],window.autochart.factory=function(a){return function(){var b=Array.prototype.slice.call(arguments);return b.unshift(a),window.autochart.push(b),window.autochart}};for(var i=0;i<window.autochart.methods.length;i++){var method=window.autochart.methods[i];window.autochart[method]=window.autochart.factory(method)}window.autochart.load=function(a,b){var c=document.createElement("script");c.type="text/javascript",c.async=!0,c.src="https://portal.autochart.io/scripts/autochart.track-"+b+".min.js";var d=document.getElementsByTagName("script")[0];d.parentNode.insertBefore(c,d),window.autochart.init(a)},window.autochart.SDK_VERSION="0.2.0",/*!
  Replace <YourCustomerAccountIdHere> below with your customer API customerKey
*/
window.autochart.load("53ba7555b9e4064028cefb70", window.autochart.SDK_VERSION);
</script>
}


<div class="well well-lg">
    <h3>AutoChart Context Data</h3>
    <p>VisitorId: @ViewBag.VisitorId</p>
    <p>SessionId: @ViewBag.SessionId</p>
</div>

@section scripts {

}